<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">

var arr2d = [
	[0,0,0,0,0],
	[0,0,0,0,0],
	[0,0,0,0,0],
	[0,0,0,0,0],
	[0,0,0,0,0]
]

var singers = [
	'레드벨벳','아이브','SS501','동방신기','슈퍼주니어',
	'세븐틴','하이라이트','인피니트','틴탑','원더걸스',
	'BTS','소녀시대','아이유','블랙펄','브아걸',
	'브브걸','BTOB','베이비복스','블랙핑크','뉴진스',
	'FT아일랜드','르세라핌','빅뱅','KARD','카라',
	'샤이니','2NE1','씨야','티아라','가비엔제이'
	];

function myrandom(){
	var tmp;
	for(var i = 0; i < 100; i++){
		var rnd = parseInt(Math.random()*30);
		tmp = singers[0];
		singers[0] = singers[rnd];
		singers[rnd] = tmp;
	}
	var cells = document.getElementsByClassName("mytd");
	for(var i = 0; i < cells.length; i++){
		cells[i].textContent = singers[i];
		cells[i].style.backgroundColor = "white";
	}
	
	for(var i = 0; i < arr2d.length; i++){
		for(var j = 0; j < arr2d[i].length; j++){
			arr2d[i][j] = 0;
		}
	}
	
	myrender();
}

function myrender(){
	var mytds = document.getElementsByClassName("mytd");
	for(var i = 0; i < arr2d.length; i++){
		for(var j = 0; j < arr2d[i].length; j++){
			if(arr2d[i][j] == 0){
				mytds[5 * i+j].style.backgroundColor = "white";
			}
			if(arr2d[i][j] == 1){
				mytds[5 * i+j].style.backgroundColor = "pink";
			}
		}
	}
}

function myclick(obj){
	var title = obj.title;
	var title_s = title.split(",");
	var i = parseInt(title_s[0]);
	var j = parseInt(title_s[1]);
	
	if(arr2d[i][j] == 1){
		return;
	}
	
	arr2d[i][j] = 1;
	var cnt = mycount();
	if(cnt >= 3){
		alert("game over",cnt);
	}
	myrender();
	console.log(arr2d+"");
}

function mycount(){
	var cnt = 0;
	var a2 = arr2d;
	
	if (a2[0][0] == 1 && a2[0][1] == 1 && a2[0][2] == 1 && a2[0][3] == 1 && a2[0][4] == 1) {
       cnt++;
    }
    if (a2[1][0] == 1 && a2[1][1] == 1 && a2[1][2] == 1 && a2[1][3] == 1 && a2[1][4] == 1) {
       cnt++;
    }
    if (a2[2][0] == 1 && a2[2][1] == 1 && a2[2][2] == 1 && a2[2][3] == 1 && a2[2][4] == 1) {
       cnt++;
    }
    if (a2[3][0] == 1 && a2[3][1] == 1 && a2[3][2] == 1 && a2[3][3] == 1 && a2[3][4] == 1) {
       cnt++;
    }
    if (a2[4][0] == 1 && a2[4][1] == 1 && a2[4][2] == 1 && a2[4][3] == 1 && a2[4][4] == 1) {
       cnt++;
    }
    
    if (a2[0][0] == 1 && a2[1][0] == 1 && a2[2][0] == 1 && a2[3][0] == 1 && a2[4][0] == 1) {
       cnt++;
    }
    if (a2[0][1] == 1 && a2[1][1] == 1 && a2[2][1] == 1 && a2[3][1] == 1 && a2[4][1] == 1) {
    	cnt++;
    }
    if (a2[0][2] == 1 && a2[1][2] == 1 && a2[2][2] == 1 && a2[3][2] == 1 && a2[4][2] == 1) {
    	cnt++;
	}
    if (a2[0][3] == 1 && a2[1][3] == 1 && a2[2][3] == 1 && a2[3][3] == 1 && a2[4][3] == 1) {
    	cnt++;
	}
    if (a2[0][4] == 1 && a2[1][4] == 1 && a2[2][4] == 1 && a2[3][4] == 1 && a2[4][4] == 1) {
    	cnt++;
    }

    if (a2[0][0] == 1 && a2[1][1] == 1 && a2[2][2] == 1 && a2[3][3] == 1 && a2[4][4] == 1) {
    	cnt++;
    }
    if (a2[0][4] == 1 && a2[1][3] == 1 && a2[2][2] == 1 && a2[3][1] == 1 && a2[4][0] == 1) {
    	cnt++;
    }
    
    return cnt;
}

function myok(){
	var obj_rnd = document.querySelector("#btn_rnd");
	obj_rnd.removeAttribute('href');
}

function myinit(){
	var mytds = document.getElementsByClassName("mytd");
	for(var i = 0; i < arr2d.length; i++){
		for(var j = 0; j < arr2d[i].length; j++){
			mytds[i*5+j].title = i+","+j;
		}
	}
}
</script>
</head>
<body onload="myinit()">
bingo
<a id="btn_rnd" href="javascript:myrandom()">RANDOM</a>
<a href="javascript:myok()">OK</a><br/>

<table border=1>
	<tr>
		<td class="mytd" onclick="myclick(this)">__</td>
		<td class="mytd" onclick="myclick(this)">__</td>
		<td class="mytd" onclick="myclick(this)">__</td>
		<td class="mytd" onclick="myclick(this)">__</td>
		<td class="mytd" onclick="myclick(this)">__</td>
	</tr>
	<tr>
		<td class="mytd" onclick="myclick(this)">__</td>
		<td class="mytd" onclick="myclick(this)">__</td>
		<td class="mytd" onclick="myclick(this)">__</td>
		<td class="mytd" onclick="myclick(this)">__</td>
		<td class="mytd" onclick="myclick(this)">__</td>
	</tr>                                 
	<tr>                                  
		<td class="mytd" onclick="myclick(this)">__</td>
		<td class="mytd" onclick="myclick(this)">__</td>
		<td class="mytd" onclick="myclick(this)">__</td>
		<td class="mytd" onclick="myclick(this)">__</td>
		<td class="mytd" onclick="myclick(this)">__</td>
	</tr>                                 
	<tr>                                  
		<td class="mytd" onclick="myclick(this)">__</td>
		<td class="mytd" onclick="myclick(this)">__</td>
		<td class="mytd" onclick="myclick(this)">__</td>
		<td class="mytd" onclick="myclick(this)">__</td>
		<td class="mytd" onclick="myclick(this)">__</td>
	</tr>
	<tr>
		<td class="mytd" onclick="myclick(this)">__</td>
		<td class="mytd" onclick="myclick(this)">__</td>
		<td class="mytd" onclick="myclick(this)">__</td>
		<td class="mytd" onclick="myclick(this)">__</td>
		<td class="mytd" onclick="myclick(this)">__</td>
	</tr>
		
</table>
</body>
</html>